{% load staticfiles %}

<html>

<head>

<title>fluendo todo webapp</title>

<link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'flutodo/flutodo.css' %}" />


</head>

<body>

    {% if user.is_authenticated %}

        <p>Hello, {{ user.username }}.</p>

        <ul>
            <li><a href="{% url 'flutodo:logout' %}">logout</a></li>
        </ul>

    {% else %}

        <p> Hello, welcome to flutodo list manager</p>
        <p> please <a href="{% url 'flutodo:login' %}">login</a> 
        or <a href="{% url 'flutodo:register' %}">register</a> to manage your flutodo list</p>


    {% endif %}


    {% if messages %}
    <ul class="messagelist">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}



{% block content %}
{% endblock %}

</body>

