{% extends 'flutodo/base.html' %}

{% block content %}

<form method="post">
    <input type="text" name="username" placeholder="user"/>
    <input type="password" name="password" placeholder="password"/>
    <input type="submit" value="register"/>
    {% csrf_token %}
</form>

{% endblock %}


