{% extends 'flutodo/base.html' %}
{% load static %}

{% block content %}

    <p>
    <a href="{% url 'flutodo:create' %}" class="addlink">add new todo item</a>
    </p>

    {% if todos %}
        <ul>
            {% for todo in todos %}
            <li>
                {{todo.title}}
                <a href="{% url 'flutodo:detail' todo.pk %}" class="changelink" title="edit"></a>
                <a href="{% url 'flutodo:delete' todo.pk %}" class="deletelink" title="del"></a>
                {% if todo.done %}
                    <img src="{% static 'admin/img/icon-yes.svg' %}" alt="done" />
                {% else %}
                    <a href="{% url 'flutodo:done' todo.pk %}" title="completed?">
                        <img src="{% static 'admin/img/icon-unknown.svg' %}" alt=completed?" />
                    </a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p> no todo items</p>
    {% endif %}

{% endblock %}

